@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

/* Main Flex Container */
.MainflexContainer {
  display: flex;
  height: 100vh;
}

/* Left Component */
.left {
  flex-basis: 25%;
  flex-grow: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  position: relative;
  z-index: 5;
}

/* Pocket Heading */
.PocketHeadingDiv {
  margin-top: 30px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.PocketHeadingDiv h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 41.02px;
  margin: 0 auto;
}

/* Pocket List */
.PocketList {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 4px;
  margin-left: 10px;
  cursor: pointer;
  align-content: flex-end;
  width: 166px;
  margin: 0 auto;
}

.PocketList p:first-child {
  border-radius: 50%;
  color: white;
  padding: 11px 7px;
  background-color: #0047ff;
  width: 49px;
  height: 49px;
  text-align: center;
}

.PocketList.selected {
  background-color: #2f2f2f2b;
}

/* custom */
.PocketWrapper {
  width: 100%;
}

.PocketWrapper.selected {
  background-color: #2f2f2f2b;
}

/* Modal Wrapper */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 47, 47, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal Container */
.modalContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 50%;
  max-width: 779px;
  padding: 10px;
  border-radius: 10px;
}

.modalContainer h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Create Group Button */
.modalButton {
  background-color: #16008b;
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-weight: 500;
  position: fixed;
  border: transparent;
  bottom: 100px;
  cursor: pointer;
  font-size: 40px;
}

/* Group Name Input */
.createGroupNameDiv {
  display: flex;
  flex-direction: row;
  width: 86%;
  align-items: center;
  height: 35px;
  gap: 10px;
}

.createGroupNameDiv span {
  white-space: nowrap;
  font-size: 2vw;
}

.createGroupNameDiv input {
  border-radius: 11px;
  border: 1px solid #cccccc;
  height: 11vh;
  flex: 1;
  font-size: 17px;
  width: 50%;
  max-height:38px;
}

.createGroupNameDiv input::placeholder {
  font-size: 2vw;
  font-weight: 400;
  line-height: 36.84px;
  letter-spacing: 0.035em;
  padding-left: 15px;
}

/* Color Selection */
.colorSelectionDiv {
  display: flex;
  align-items: center;
  gap: 3vw;
  width: 100%;
}

.colorSelectionDiv span {
  white-space: nowrap;
  font-size: 29px;
}
h1 {
  font-size: 35px;
}
form {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.RadioDiv input {
  cursor: pointer;
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  margin-left: 0.5rem;
}

/* Create Group Button */
.createGroupButton {
  align-self: flex-end;
  background-color: #001f8b;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.04px;
  letter-spacing: 0.035em;
  color: white;
  text-align: center;
  border-radius: 11px;
  border: none;
  width: 11rem;
  margin-right: 10px;
  cursor: pointer;
}

/* Right Component */
.right {
  background-color: #dae5f5;
  flex-basis: 75%;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Image Styles */
.imageDiv {
  width: 50%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* Right Heading */
.rightHeading h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2.5px;
}

/* Right Text */
.rightText {
  width: 100%;
  margin-bottom: 50px;
}

.rightText p {
  text-align: center;
  color: #292929;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}

/* Encryption Section */
.encryptionDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.lockDiv {
  width: 20px;
}

.lockDiv img {
  width: 100%;
}

.encryptionDiv p {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

/* Chat Interface */
.chatInterface {
  flex-basis: 75%;
  flex-grow: 1;
  height: 100%;
  background-color: #dae5f5;
  overflow-y: auto;
}

.chatInterfaceHeadingDiv {
  background-color: #001f8b;
  height: 98px;
  color: white;
  overflow-x: hidden;
  align-items: center;
  width: 100%;
  display: flex;
  gap: 17px;
  align-items: center;
  margin: 0;
}

.chatInterfaceHeadingDiv .chatInitialWrapper {
  border-radius: 50%;
  color: white;
  padding: 12px;

  margin-left: 20px;
}

.chatInterfaceHeadingDiv img {
  width: 20px;
  display: none;
}

.chatInterfaceHeadingDiv button {
  background-color: transparent;
  border: none;
}

/* Chat View */
.chatView {
  background-color: white;
  margin: 23px auto;
  min-height: 92px;
  width: calc(100% - 48.17px);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.chatView p {
  color: black;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.83px;
  text-align: left;
  width: 100%;
  padding: 20px;
}

.chatView ul {
  gap: 30px;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 500;
  line-height: 17.58px;
  padding: 15px 0;
}

.chatView ul li:first-child {
  list-style-type: none;
}

.chatView ul li:nth-child(2) {
  margin-right: 13px;
}
.chatViewWrapper {
  height: calc(100vh - 254px);
  overflow-y: auto;
}

/* Chat Input Area */

.chatInput {
  --padding: 14px;
  width: 75%;
  display: flex;
  flex-direction: row-reverse;
  padding: var(--padding);
  background-color: #f6f6f6;

  justify-content: space-between;
  position: fixed;
  bottom: 0;
  border: 12px solid #001f8b;
  height: calc(100% - 337px);
  max-height: 159px;
}

.inputField {
  margin-left: var(--padding);
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
  width: 100%;
  color: #9a9a9a;
  font-size: 18px;
  line-height: 30px;
}

.sendButton {
  width: 14px;
  height: 14px;
  cursor: pointer;
  border: none;
  padding: 0;
  align-self: flex-end;
}

.sendButton:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

/* Responsive Styles */
@media (min-width:1530px){
  .createGroupNameDiv input{
    max-height: 65px;
  }
  .createGroupNameDiv input::placeholder {
font-size: 17px;
  }
  .createGroupButton{
    height: 60px;
  }
}

@media (max-width: 738px) {
  .left {
    display: flex;
  }

  .modalContainer {
    width: calc(100% - 22px);

    max-width: unset;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    align-items: center;
  }
  .colorSelectionDiv {
    justify-content: center;
  }

  .createGroupButton {
    align-self: center;
  }

  h1 {
    font-size: 32px;
  }

  .RadioDiv {
    width: 10rem;
  }

  .RadioDiv input {
    font-size: 1em;
    width: 1.1em;
  }

  /* Hide right component on small screens via class toggle */
  .right {
    display: none;
  }

  .chatInterface {
    font-size: 16px;
  }

  .chatInterfaceHeadingDiv {
    gap: 12px;
  }

  .chatInterfaceHeadingDiv p:first-of-type {
    margin: 0;
    padding: 12px;
    text-align: center;
    font-size: 20px;
  }
  .chatInterfaceHeadingDiv img {
    margin-left: 10px;
    display: block;
  }

  .chatView p {
    font-size: unset;
  }

  .chatView ul {
    font-size: 9px;
  }

  .inputField {
    font-size: 11px;
    width: 100%;
  }

  .chatInput {
    width: 100%;
  }

  .createGroupNameDiv input {
    height: 50px;
    max-height: 12vh;
  }

  .createGroupNameDiv span,
  .createGroupNameDiv span,
  .createGroupNameDiv input::placeholder {
    font-size: 18px;
  }
  .colorSelectionDiv span {
    font-size: 18px;
  }

  .modalButton {
    left: 258px;
  }
}

@media (min-width: 424px) {
  .colorSelectionDiv {
    gap: 5px;
  }
  .RadioDiv {
    width: 100%;
    display: flex;
    gap: 11px;
  }
  .colorSelectionDiv span:first-child{
    margin-left:23px;
  }
}

@media (max-width: 375px) {
  .createGroupNameDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 35px;
    gap: 10px;
  }
}

@media (max-width: 320px) {
  .RadioDiv {
    width: 12rem;
    display: flex;
    gap: 2px;
  }
}
